/* Colores
    Fuente: gris rgb(255, 241, 247)
    Fondo: bordo rgb(158, 25, 52)
    Footer: Negro */
@font-face {
  font-family: fuente-qatar;
  src: url(../recursos/fuente-qatar.ttf); }

* {
  margin: 0;
  padding: 0;
  font-family: fuente-qatar;
  color: #fff1f7;
  box-sizing: border-box; }

/* HEADER */
.img-header {
  vertical-align: initial;
  width: 7vw;
  margin-left: 2vw;
  margin-top: 2vh; }

.encabezadoGeneral {
  background-color: #9e1934;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: +5; }

nav {
  display: flex;
  align-items: center;
  width: 100%; }

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row; }

.menu__seccion {
  color: #fff1f7;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 4vw; }

.menu__seccion--resaltado {
  color: #9e1934;
  background-color: #fff1f7;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 4vw;
  padding: 0px 10px 0px 10px; }

li {
  list-style-type: none; }

.menu li:hover {
  text-shadow: 2px 2px 15px #fff1f7; }

/*------------------------------ MAIN---------------------------- */
.contenido {
  display: flex;
  flex-direction: column; }

/* BODY */
body {
  background-color: #9e1934;
  display: flex;
  flex-direction: column; }

/* TITULOS GENERALES */
h2 {
  font-size: 6vh;
  margin-left: 3vw; }

h3 {
  font-size: 5vh;
  margin-top: 3vh; }

/*--------------------- --------------------------FOOTER------------------------------------------ */
footer {
  width: 100%;
  background-color: black; }
  footer h4 {
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 1.5rem; }
  footer section {
    display: flex;
    margin: auto;
    justify-content: space-between; }
    footer section div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 1vh; }
      footer section div h5 {
        text-decoration: overline;
        font-size: 1.3rem; }
      footer section div a {
        color: #fff1f7 !important;
        text-decoration: none;
        font-size: 1rem; }
      footer section div a:hover {
        text-decoration: underline; }
    footer section .sitios {
      align-self: flex-start;
      margin-left: 1vw; }
    footer section .menu_footer {
      align-self: center; }
    footer section .masInfo {
      align-self: flex-start;
      margin-right: 1vw; }

/*------------------------ -----------------MEDIA QUERIES NAV------------------------------------------ */
@media (max-width: 900px) {
  /* -----------------------------HEADER----------------------------- */
  .menu__seccion {
    font-size: 2.7vh;
    margin: 2vw; }
  .menu__seccion--resaltado {
    font-size: 2.7vh;
    margin: 2vw; }
  h2 {
    font-size: 5vh; }
  h3 {
    font-size: 4vh; }
  footer section div h5 {
    font-size: 1rem; }
  footer section div a {
    font-size: 0.7rem; } }

/* ----------------------------------- MEDIA QUERIES CHICOS MEDIANOS----------------------------------------- */
@media (max-width: 660px) {
  /* ------------------HEADER------------------------ */
  .encabezadoGeneral {
    width: 100%; }
  nav {
    justify-content: center;
    flex-direction: column; }
  .img-header {
    min-width: 9vh;
    margin-left: 0px;
    margin-top: 0px; }
  .menu {
    display: flex;
    flex-direction: row; }
  .menu__seccion {
    font-size: 3vw;
    padding: 0px 3px 0px 3px;
    margin: 3px; }
  .menu__seccion--resaltado {
    font-size: 3vw;
    margin: 3px;
    padding: 0px 10px 0px 10px; }
  footer section {
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "sitios secciones" "info secciones"; }
    footer section div h5 {
      font-size: 1.2rem; }
    footer section div a {
      font-size: 1rem; }
    footer section .sitios {
      margin-left: 1vw;
      grid-area: sitios; }
    footer section .menu_footer {
      margin-right: 1vw;
      grid-area: secciones; }
    footer section .masInfo {
      margin-left: 1vw;
      grid-area: info; } }

@media (max-width: 425px) {
  footer section {
    grid-template-columns: 1fr 1fr;
    justify-items: center; }
    footer section div h5 {
      font-size: 1rem; }
    footer section div a {
      font-size: 0.8rem; }
    footer section .sitios {
      justify-self: left; }
    footer section .menu_footer {
      justify-self: right;
      grid-area: secciones; }
    footer section .masInfo {
      justify-self: left; } }

@media (max-width: 350px) {
  footer section {
    grid-template-columns: 1fr 1fr;
    justify-items: center; }
    footer section div h5 {
      font-size: 0.8rem; }
    footer section div a {
      font-size: 0.6rem; } }

/* TITULO*/
.contenido__principal--index {
  background-image: url(../recursos/argentina-campeon.jpg);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-position-y: 20vh; }
  .contenido__principal--index h1 {
    font-size: 15vh;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 10px 10px 10px black; }

.campeones {
  margin: auto;
  display: flex;
  width: 95%;
  flex-direction: column;
  flex-wrap: wrap;
  animation-name: desplazamientoDiv;
  animation-duration: 0.5s;
  animation-iteration-count: initial; }

.campeones div {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "campeonesLista campeonesCopa campeonesCopa ";
  /* justify-items: center; */
  box-shadow: 0px 2px 30px black; }

.ediciones {
  display: none; }

.campeones-titulo {
  grid-area: campeonesTitulo;
  justify-self: flex-start; }

.campeones-lista {
  grid-area: campeonesLista;
  align-self: center;
  justify-self: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 4vh; }

.campeones-copa {
  grid-area: campeonesCopa;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center; }

.copaInfo {
  justify-self: left;
  margin-right: 1vw; }

.copa {
  max-height: 45vh; }

/* -----------------------------INDIVIDUALES----------------------------- */
.individuales {
  margin: 2vh auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.individuales div {
  display: grid;
  max-height: 65vh;
  width: 100%;
  grid-template-columns: 2fr 2fr 2fr;
  grid-auto-rows: 0.5fr 1fr 1.5fr;
  grid-template-areas: "categoria categoria categoria" "jugador fotoJugador escudo" "informacion fotoJugador escudo";
  box-shadow: 0px 2px 30px black;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  animation-name: desplazamientoDiv;
  animation-duration: 0.5s;
  animation-iteration-count: initial; }

.individuales-categoria {
  font-size: 5vh;
  grid-area: categoria;
  padding-left: 2vw; }

.individuales-info {
  grid-area: informacion;
  font-size: 3vh;
  align-self: initial;
  justify-self: center; }

.individuales-nombre {
  grid-area: jugador;
  font-size: 4vh;
  color: #9e1934;
  transform: skewX(-15deg);
  background-color: #fff1f7;
  align-self: flex-end;
  justify-self: center; }

.individuales-escudo {
  justify-self: center;
  max-height: 95%;
  max-width: 95%;
  object-fit: contain;
  grid-area: escudo; }

.individuales-jugador {
  justify-self: center;
  height: 95%;
  width: 95%;
  object-fit: cover;
  grid-area: fotoJugador; }

@keyframes desplazamientoDiv {
  0% {
    transform: translateX(-20px); }
  20% {
    transform: translateX(-16px); }
  40% {
    transform: translateX(-12px); }
  60% {
    transform: translateX(-8px); }
  80% {
    transform: translateX(-4); }
  100% {
    transform: translateX(0px); } }

@media (max-width: 900px) {
  /* -----------------INDEX MEDIANO-GRANDE---------------------- */
  .contenido__principal--index {
    background-position-y: 13vh; }
    .contenido__principal--index h1 {
      padding-top: 30vh; }
  .campeones div {
    display: grid;
    margin: auto;
    width: 100%;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "campeonesLista campeonesCopa campeonesCopa ";
    box-shadow: 0px 2px 30px black; }
  .campeones-lista {
    font-size: 3vh; }
  .copa {
    max-height: 40vh; }
  .copaInfo {
    font-size: 2.5vh; }
  .individuales div {
    display: grid;
    max-height: 77vh;
    width: 100%;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 10vh 45vh 10vh;
    grid-template-areas: "categoria categoria" "fotoJugador escudo" "jugador informacion"; }
  .individuales-jugador {
    max-height: 85%;
    max-width: 85%;
    object-fit: cover;
    justify-self: center; }
  .individuales-escudo {
    max-height: 90%;
    max-width: 90%;
    justify-self: center; }
  .individuales-nombre {
    align-self: baseline; }
  .individuales-info {
    align-self: baseline; } }

@media (max-width: 660px) {
  /* --------------------INDEX------------------------ */
  .contenido__principal--index {
    min-height: 80vh;
    background-position-y: 16vh; }
    .contenido__principal--index h1 {
      font-size: 10vh; }
  h2 {
    display: none; }
  h3 {
    font-size: 6vh;
    text-align: center; }
  .campeones {
    width: 100%; }
  .campeones div {
    display: grid;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr;
    grid-template-areas: "campeonesLista ediciones" "campeonesCopa campeonesCopa " "campeonesCopa campeonesCopa"; }
  .ediciones {
    display: block;
    grid-area: ediciones;
    padding-right: 7vw;
    padding-left: 7vw;
    font-size: 7vh;
    align-self: center;
    text-align: center; }
  .campeones-lista {
    grid-area: campeonesLista;
    justify-self: center;
    text-align: center; }
  .campeones-copa {
    align-self: initial;
    grid-area: campeonesCopa;
    display: flex;
    flex-direction: column; }
  .copaInfo {
    text-align: center;
    font-size: 2.5vh;
    margin: 1vh;
    text-shadow: 1px 1px 10px black; }
  .individuales {
    width: 100%; }
  .individuales div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    max-height: none;
    width: 95%;
    margin: auto;
    margin-bottom: 3vh; }
  .individuales-escudo {
    display: none; }
  .individuales-nombre {
    margin-top: 1vh;
    align-self: center; }
  .individuales-jugador {
    width: 95%;
    grid-area: fotoJugador; }
  .individuales-info {
    margin-top: 1vh;
    align-self: center; }
  .individuales-categoria {
    font-size: 4vh;
    text-align: center; } }

@media (max-width: 475px) {
  .contenido__principal--index h1 {
    padding-top: 20vh; }
  h3 {
    font-size: 4vh; }
  .individuales-categoria {
    font-size: 3.2vh; } }

@media (max-width: 325px) {
  .campeones-lista {
    font-size: 3vh; }
  .ediciones {
    font-size: 5vh; } }

.contenido__principal--seleccionados {
  background-image: url(../recursos/logo-seleccionados.png);
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 80vh;
  background-position-y: 15vh; }
  .contenido__principal--seleccionados h1 {
    font-size: 15vh;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 10px 10px 10px black; }

.equipos {
  margin-bottom: 3vh; }
  .equipos h3 {
    margin-left: 2.5vw;
    font-size: 3rem; }

.infoEquipo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas: "pais escudo" "jugadores escudo" "dt camiseta";
  width: 95%;
  box-shadow: 2px 2px 10px black;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh; }

.pais {
  grid-area: pais;
  font-size: 2.5rem;
  justify-self: center;
  align-self: center; }

.listaJugadores {
  grid-area: jugadores;
  font-size: 1.5rem;
  columns: 2;
  padding-left: 1vw; }

.sEscudo {
  grid-area: escudo;
  overflow: visible;
  justify-self: center;
  align-self: center;
  max-height: 80%; }

.sCamiseta {
  grid-area: camiseta;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  height: 95%;
  max-width: 95%;
  border: 2px solid #fff1f7; }

.dt {
  grid-area: dt;
  font-size: 1.5rem;
  padding-top: 2vh;
  padding-left: 1vw;
  align-self: initial; }

@media (max-width: 900px) {
  .infoEquipo {
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas: "pais escudo" "jugadores escudo" "jugadores camiseta" "dt .";
    width: 95%; }
  .sEscudo {
    max-height: 75%;
    max-width: 80%; }
  .listaJugadores {
    font-size: 20px; } }

@media (max-width: 768px) {
  .listaJugadores {
    font-size: 1rem; } }

@media (max-width: 690px) {
  .listaJugadores {
    font-size: 14px; } }

@media (max-width: 600px) {
  .contenido__principal--seleccionados h1 {
    font-size: 10vh; }
  .infoEquipo {
    display: flex;
    flex-direction: column;
    width: 95%; }
  .sEscudo {
    max-width: 50vw;
    padding-bottom: 2vh; }
  .sCamiseta {
    max-height: 70vh;
    margin-bottom: 2vh; } }

@media (max-width: 390px) {
  .contenido__principal--seleccionados h1 {
    font-size: 7vh;
    margin: auto; } }

.contenido__principal--grupos {
  background-image: url(../recursos/grupo-catar1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 95vh;
  max-height: 100vh;
  background-position-y: 15vh;
  /* grid-area: titulo; */ }
  .contenido__principal--grupos h1 {
    font-size: 15vh;
    text-align: center;
    padding-top: 45vh;
    text-shadow: 10px 10px 10px black; }

/* ---------------------------------------------FASE DE GRUPOS-------------------------------------- */
.faseGrupos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: "titulo titulo" "posiciones posiciones";
  height: auto;
  margin-bottom: 3vh; }

/* ---------------TABLA DE POSICIONES-------------- */
.posiciones_titulo {
  margin: 0;
  grid-area: posicionesTitulo; }

.resutlados_titulo {
  margin: 0;
  grid-area: resultadosTitulo; }

.contenido__principal--grupos {
  grid-area: titulo; }

.posiciones {
  grid-area: posiciones;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-areas: "posicionesTitulo resultadosTitulo" "grupoA resultadosA" "grupoB resultadosB" "grupoC resultadosC" "grupoD resultadosD" "grupoE resultadosE" "grupoF resultadosF" "grupoG resultadosG" "grupoH resultadosH" "uruguay .";
  padding-left: 6vw; }

.grupoA {
  grid-area: grupoA; }

.grupoB {
  grid-area: grupoB; }

.grupoC {
  grid-area: grupoC; }

.grupoD {
  grid-area: grupoD; }

.grupoE {
  grid-area: grupoE; }

.grupoF {
  grid-area: grupoF; }

.grupoG {
  grid-area: grupoG; }

.grupoH {
  grid-area: grupoH; }

.resultadosA {
  grid-area: resultadosA; }

.resultadosB {
  grid-area: resultadosB; }

.resultadosC {
  grid-area: resultadosC; }

.resultadosD {
  grid-area: resultadosD; }

.resultadosE {
  grid-area: resultadosE; }

.resultadosF {
  grid-area: resultadosF; }

.resultadosG {
  grid-area: resultadosG; }

.resultadosH {
  grid-area: resultadosH; }

.posiciones div {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "grupo pts ganados empatados perdidos dif" "pais1 pts1 g1 e1 p1 dif1" "pais2 pts2 g2 e2 p2 dif2" "pais3 pts3 g3 e3 p3 dif3" "pais4 pts4 g4 e4 p4 dif4";
  align-content: center;
  width: 35vw;
  height: 25vh;
  box-shadow: 2px 2px 30px black;
  font-size: 1.5vw;
  margin-top: 3vh; }

.posiciones section {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "equipo1 resultado1 resultado2 equipo2" "equipo3 resultado3 resultado4 equipo4" "equipo5 resultado5 resultado6 equipo6 " "equipo7 resultado7 resultado8 equipo8" "equipo9 resultado9 resultado10 equipo10" "equipo11 resultado11 resultado12 equipo12";
  justify-items: center;
  width: 35vw;
  height: 25vh;
  box-shadow: 2px 2px 30px black;
  font-size: 1.3vw;
  margin-top: 3vh; }

.grupo {
  grid-area: grupo;
  background-color: #81162b;
  padding-left: 0.5vw; }

.pts {
  grid-area: pts;
  background-color: #81162b; }

.ganados {
  grid-area: ganados;
  background-color: #81162b; }

.empatados {
  grid-area: empatados;
  background-color: #81162b; }

.perdidos {
  grid-area: perdidos;
  background-color: #81162b; }

.dif {
  grid-area: dif;
  background-color: #81162b; }

.pais1 {
  grid-area: pais1;
  padding-left: 0.5vw; }

.pais2 {
  grid-area: pais2;
  background-color: #81162b;
  padding-left: 0.5vw; }

.pais3 {
  grid-area: pais3;
  padding-left: 0.5vw; }

.pais4 {
  grid-area: pais4;
  background-color: #81162b;
  padding-left: 0.5vw; }

.ganados1 {
  grid-area: g1; }

.ganados2 {
  grid-area: g2;
  background-color: #81162b; }

.ganados3 {
  grid-area: g3; }

.ganados4 {
  grid-area: g4;
  background-color: #81162b; }

.empatados1 {
  grid-area: e1; }

.empatados2 {
  grid-area: e2;
  background-color: #81162b; }

.empatados3 {
  grid-area: e3; }

.empatados4 {
  grid-area: e4;
  background-color: #81162b; }

.perdidos1 {
  grid-area: p1; }

.perdidos2 {
  grid-area: p2;
  background-color: #81162b; }

.perdidos3 {
  grid-area: p3; }

.perdidos4 {
  grid-area: p4;
  background-color: #81162b; }

.dif1 {
  grid-area: dif1; }

.dif2 {
  grid-area: dif2;
  background-color: #81162b; }

.dif3 {
  grid-area: dif3; }

.dif4 {
  grid-area: dif4;
  background-color: #81162b; }

.pts1 {
  grid-area: pts1; }

.pts2 {
  grid-area: pts2;
  background-color: #81162b; }

.pts3 {
  grid-area: pts3; }

.pts4 {
  grid-area: pts4;
  background-color: #81162b; }

.uruguay {
  padding: 2vh 8vw 0 0vw;
  font-size: 2.2vh;
  font-style: italic;
  grid-area: uruguay; }

/* ---------------------------TABLAS DE  RESULTADOS-------------------------- */
.equipo1 {
  grid-area: equipo1; }

.equipo2 {
  grid-area: equipo2; }

.equipo3 {
  grid-area: equipo3; }

.equipo4 {
  grid-area: equipo4; }

.equipo5 {
  grid-area: equipo5; }

.equipo6 {
  grid-area: equipo6; }

.equipo7 {
  grid-area: equipo7; }

.equipo8 {
  grid-area: equipo8; }

.equipo9 {
  grid-area: equipo9; }

.equipo10 {
  grid-area: equipo10; }

.equipo11 {
  grid-area: equipo11; }

.equipo12 {
  grid-area: equipo12; }

.resultado1 {
  grid-area: resultado1; }

.resultado2 {
  grid-area: resultado2; }

.resultado3 {
  grid-area: resultado3; }

.resultado4 {
  grid-area: resultado4; }

.resultado5 {
  grid-area: resultado5; }

.resultado6 {
  grid-area: resultado6; }

.resultado7 {
  grid-area: resultado7; }

.resultado8 {
  grid-area: resultado8; }

.resultado9 {
  grid-area: resultado9; }

.resultado10 {
  grid-area: resultado10; }

.resultado11 {
  grid-area: resultado11; }

.resultado12 {
  grid-area: resultado12; }

/*------------------------ -----------------MEDIA QUERIES INDEX MEDIANOS------------------------------------------ */
@media (max-width: 900px) {
  /*---------------------- GRUPOS MEDIANO-------------------- */
  .contenido__principal--grupos {
    background-position-y: 4vh;
    min-height: 80vh;
    max-height: none; }
    .contenido__principal--grupos h1 {
      padding-top: 28vh;
      font-size: 12vh; }
  .uruguay {
    padding: 2vh 1vw 0 7vw; }
  .posiciones {
    margin-top: 3vh;
    padding-left: 0;
    justify-items: center;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr; }
    .posiciones h2 {
      margin: 0; }
  .posiciones div {
    font-size: 2vh; }
  .posiciones section {
    grid-template-columns: 1fr 0.1fr 0.1fr 1fr;
    font-size: 2vh; } }

/* ---------------------------------------------- MEDIA QUERIES INDEX CHICOS----------------------------------------- */
@media (max-width: 660px) {
  /* ----------------------FASE DE GRUPOS------------------- */
  .faseGrupos {
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column; }
  .contenido__principal--grupos {
    height: 32vh;
    display: flex;
    justify-content: center; }
  .contenido__principal--grupos h1 {
    align-self: center;
    justify-self: center;
    padding-top: 20vh; }
  .posiciones_titulo {
    display: block;
    font-size: 3vh; }
  .resultados_titulo {
    display: block;
    font-size: 3vh; }
  .posiciones {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
    grid-template-areas: "grupoA" "resultadosA" "grupoB" "resultadosB" "grupoC" "resultadosC" "grupoD" "resultadosD" "grupoE" "resultadosE" "grupoF" "resultadosF" "grupoG" "resultadosG" "grupoH" "resultadosH" "uruguay";
    width: 95%;
    margin: auto;
    padding: 0; }
  .posiciones_titulo {
    display: none; }
  .resultados_titulo {
    display: none; }
  .posiciones section {
    width: 100%;
    font-size: 2.5vh;
    height: 30vh;
    border-bottom: 1.5px solid #fff1f7; }
  .posiciones div {
    width: 100%;
    font-size: 3vh;
    height: 30vh;
    margin-top: 4vh; }
  .uruguay {
    padding: 0; } }

@media (max-width: 500px) {
  .contenido__principal--grupos {
    background-position-y: 6vh;
    min-height: 70vh; }
    .contenido__principal--grupos h1 {
      padding-top: 6vh;
      font-size: 10vh; } }

@media (max-width: 410px) {
  .contenido__principal--grupos {
    background-position-y: 8vh;
    min-height: 60vh; }
    .contenido__principal--grupos h1 {
      padding-top: 4vh;
      font-size: 7.5vh; } }

.contenido__principal--eliminatoria {
  background-image: url(../recursos/pelota-final.png);
  background-position-x: center;
  background-size: 30%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 80vh;
  max-height: 100vh;
  background-position-y: 20vh; }
  .contenido__principal--eliminatoria h1 {
    font-size: 15vh;
    text-align: center;
    padding-top: 45vh;
    text-shadow: 10px 10px 10px black; }

.fase {
  font-size: 7vh;
  text-align: center; }

.acordionPartido {
  background-color: #860619 !important;
  margin: 0 1vw 1vw 1vw;
  display: grid;
  align-content: start;
  border: none !important;
  box-shadow: 1px 0px 5px #fff1f7; }

.botonPartido {
  font-size: 2rem !important;
  background-color: #860619 !important;
  color: #fff1f7 !important;
  box-shadow: none !important; }

.grillaDePartido {
  background-color: #9e1934;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 0.5fr 0.5fr 0.5fr;
  grid-template-areas: "escudo1 marcador escudo2" "escudo1 marcador escudo2" "estadio estadio estadio" "gol1 . gol2" "resumen resumen resumen";
  align-items: center;
  justify-items: center;
  margin: 1vw; }

.escudo1 {
  grid-area: escudo1;
  width: 70%;
  height: 70%;
  object-fit: contain; }

.escudo2 {
  grid-area: escudo2;
  width: 70%;
  height: 70%;
  object-fit: contain; }

.marcador1 {
  grid-area: marcador;
  font-size: 3rem; }

.goles1 {
  grid-area: gol1;
  font-size: 1.5rem; }

.goles2 {
  grid-area: gol2;
  font-size: 1.5rem; }

.estadio {
  grid-area: estadio;
  justify-self: left; }

.resumen {
  grid-area: resumen;
  color: #fff1f7;
  font-size: 1.5rem; }

.contenido__principal--eliminatoria h1 {
  font-size: 40px;
  margin: 10px; }

/* FONDOS DE TITULO*/
.contenido__principal--contacto {
  background-image: url(../recursos/contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  max-height: 100vh;
  background-position-y: 20vh; }
  .contenido__principal--contacto h1 {
    font-size: 15vh;
    text-align: center;
    padding-top: 45vh;
    text-shadow: 10px 10px 10px black; }

form h3 {
  margin-left: 2vw;
  margin-top: 5vh; }

.encuesta {
  min-height: 30vh;
  max-height: 75vh;
  display: flex;
  flex-direction: row;
  columns: 2;
  flex-wrap: wrap;
  justify-content: space-around; }
  .encuesta .columna1, .encuesta .columna2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: space-around; }
  .encuesta input::placeholder {
    color: #9e1934; }
  .encuesta input:focus::placeholder {
    color: #fff1f7; }
  .encuesta input, .encuesta select, .encuesta option {
    margin: 3vh 0vw 0 0vw;
    min-width: 30vw;
    max-width: 40vw;
    font-size: 1.5rem;
    color: #9e1934;
    background-color: #fff1f7;
    border: none;
    box-shadow: 1px 1px 5px black; }
  .encuesta input:focus {
    background-color: #7a0e24;
    border: 1px solid #fff1f7;
    color: #fff1f7; }
  .encuesta input:hover, .encuesta select:hover {
    box-shadow: 1px 1px 5px #fff1f7; }

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.formularioContacto {
  display: flex;
  flex-direction: column;
  margin-left: 2vw; }
  .formularioContacto input, .formularioContacto textarea {
    text-align: center;
    font-size: 1rem;
    color: #9e1934;
    border: none;
    box-shadow: 1px 1px 5px black;
    margin: 2vh; }
  .formularioContacto input::placeholder, .formularioContacto textarea::placeholder {
    color: #9e1934; }
  .formularioContacto input:focus::placeholder {
    color: #fff1f7; }
  .formularioContacto .siNo {
    display: flex;
    align-items: center;
    justify-content: center; }
    .formularioContacto .siNo input {
      box-shadow: none; }
  .formularioContacto textarea {
    background-color: #fff1f7; }

.fotoCopa {
  align-self: flex-start;
  max-width: 50%;
  margin: 2vw; }
  .fotoCopa img {
    max-width: 100%; }
