/* Colores
    Fuente: gris rgb(255, 241, 247)
    Fondo: bordo rgb(158,25,52)
    Footer: Negro */

    // Importaciones
    @import './secciones/index';
    @import './secciones/seleccionados';
    @import './secciones/grupos'; 
    @import './secciones/eliminatorias';
    @import './secciones/contacto';
    @import './utilidades/generales';
 

  