  /* FONDOS DE TITULO*/
  .contenido__principal--contacto {
    background-image: url(../recursos/contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 90vh;
    max-height: 100vh;
    // margin-top: 14vh;
    background-position-y: 20vh;
  
    h1 {
      font-size: 15vh;
      text-align: center;
      padding-top: 45vh;
      text-shadow: 10px 10px 10px black;
  }
}