  /* FONDOS DE TITULO*/
  .contenido__principal--contacto {
    background-image: url(../recursos/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 85vh;
    margin-top: 12vh; }