// FONDO DE TITULO
.contenido__principal--eliminatoria {
    background-image: url(../recursos/pelota-final.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: center;
    width: 100vw;
    height: 85vh;
    margin-top: 22vh; }