// FONDO DE TITULO
.contenido__principal--eliminatoria {
    background-image: url(../recursos/pelota-final.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: center;
    width: 100vw;
    height: 85vh;
    margin-top: 22vh; }

    // SACANDO ESTILO DE BOOTSTRAP PREDETERMINADO
    .menu_seccion{
        color: rgb(255, 241, 247)!important;
    }
    menu{
        margin: 0;
        padding: 0;
    }