// FONDO DE TITULO
.contenido__principal--seleccionados {
    background-image: url(../recursos/logo-seleccionados.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position-x: center;
    width: 100vw;
    height: 85vh;
    margin-top: 12vh; }