// FONDO DE TITULO
.contenido__principal--seleccionados {
    background-image: url(../recursos/logo-seleccionados.png);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh;
    background-position-y: 15vh;

    h1 {
        font-size: 15vh;
        text-align: center;
        padding-top: 40vh;
        text-shadow: 10px 10px 10px black;
    }

}
.equipos{
    margin-bottom: 3vh;
    h3{
        margin-left: 2.5vw;
        font-size: 3rem;
    }
}
.infoEquipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas:
        "pais escudo"
        "jugadores escudo"
        "dt camiseta";
    width: 95%;
    // height: 80vh;
    box-shadow: 2px 2px 10px black;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.pais {
    grid-area: pais;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
}

.listaJugadores {
    grid-area: jugadores;
    font-size: 1.5rem;
    columns: 2;
    padding-left: 1vw;
}

.sEscudo {
    grid-area: escudo;
    overflow: visible;
    justify-self: center;
    align-self: center;
    max-height: 80%;

}

.sCamiseta {
    grid-area: camiseta;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    height: 95%;
    max-width: 95%;
    border: 2px solid $color-letra;
}

.dt {
    grid-area: dt;
    font-size: 1.5rem;
    padding-top: 2vh;
    padding-left: 1vw;
    align-self: initial;

}

// -------------------------------------MEDIA QUERIES-------------------------------------------
// ---------------------MEDIANOS-GRANDES
@media (max-width: 900px){

    .infoEquipo {
    grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
    grid-template-areas:
        "pais escudo"
        "jugadores escudo"
        "jugadores camiseta"
        "dt .";
    width: 95%;

}
    .sEscudo {
        max-height: 75%;
        max-width: 80%;
    }

    .listaJugadores{
        font-size: 20px;
    }
}
// MEDIANOS-GRANDES LETRA DE LISTA
@media(max-width: 768px){
    .listaJugadores{
        font-size: 1rem;
    }
}
@media(max-width: 690px){
    .listaJugadores{
        font-size: 14px;
    }
}

//------------------------------- PEQUEÑOS MEDIANOS
// Pongo este tamaño en diferencia por el resto porque es cuando empieza a romper
@media(max-width: 600px){

    .contenido__principal--seleccionados h1 {
        font-size: 10vh;
    }

    .infoEquipo {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .sEscudo {
        max-width: 50vw;
        padding-bottom: 2vh;
    }
    .sCamiseta{
        max-height: 70vh;
        margin-bottom: 2vh;
    }

    }
    //------------------------------------ DISPOSITIVOS PEQUEÑOS
@media(max-width: 390px){
    .contenido__principal--seleccionados h1 {
        font-size: 7vh;
        margin: auto;
    }
}
