// FONDO DE TITULO
.contenido__principal--seleccionados {
    background-image: url(../recursos/logo-seleccionados.png);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    // min-height: 80vh;
    max-height: 100vh;
    // margin-top: 14vh;
    background-position-y: 15vh;
    // margin-top: 12vh;
    h1 {
        font-size: 15vh;
        text-align: center;
        padding-top: 40vh;
        text-shadow: 10px 10px 10px black;
    }

}
.equipos{
    margin-bottom: 3vh;
    h3{
        margin-left: 2.5vw;
        font-size: 3rem;
    }
}
.infoEquipo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    grid-template-areas:
        "pais escudo"
        "jugadores escudo"
        "jugadores camiseta"
        "dt camiseta";
    width: 95%;
    height: 80vh;
    box-shadow: 2px 2px 10px black;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.pais {
    grid-area: pais;
    font-size: 2.5rem;
    justify-self: center;
    align-self: center;
}

.listaJugadores {
    grid-area: jugadores;
    columns: 2;
    padding-left: 1vw;
}

.sEscudo {
    grid-area: escudo;
    overflow: visible;
    justify-self: center;
    align-self: center;
    height: 80%;

}

.sCamiseta {
    grid-area: camiseta;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    height: 95%;
    width: 70%;
    border: 2px solid $color-letra;
}

.dt {
    grid-area: dt;
    padding-top: 2vh;
    padding-left: 1vw;
    align-self: initial;

}