@font-face {
    font-family: fuente-qatar;
    src: url(../recursos/fuente-qatar.ttf); }
  
  * {
    margin: 0;
    padding: 0;
    font-family: fuente-qatar;
    color: #fff1f7; 
  box-sizing: border-box;}

      /* HEADER */
  .img-header {
    // Sacar estilo bootstrap
    vertical-align: initial;
    width: 7vw;
    margin-left: 2vw;
    margin-top: 2vh; }
  
  .encabezadoGeneral {
    background-color: #9e1934;
    border-bottom: 1px solid black;
    width: 100%;
    position: fixed;
    z-index: +5; }
  
  nav {
    display: flex;
    align-items: center;
  width: 100%; }
  
  .menu {
    // eliminar estilo de bootstrap
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; }
  
  .menu__seccion {
    // eliminar color de bootstrap
    color: rgb(255, 241, 247);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 4vw; }
  
  .menu__seccion--resaltado {
    color: #9e1934;
    background-color: #fff1f7;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5vw;
    margin: 4vw;
    padding: 0px 10px 0px 10px; }
  
  li {
    list-style-type: none; }
  
  .menu li:hover {
    text-shadow: 2px 2px 15px #fff1f7; }
  
  /*------------------------------ MAIN---------------------------- */
  .contenido {
    display: flex;
    flex-direction: column; }

      /* BODY */
  body {
    background-color: #9e1934;
    display: flex;
    flex-direction: column; }

      /* TITULOS GENERALES */
  
  h2 {
    font-size: 6vh;
    margin-left: 3vw; }
  
  h3 {
    font-size: 5vh;
    margin-top: 3vh; }

      /*--------------------- --------------------------FOOTER------------------------------------------ */
  footer {
    // height: 100px;
    width: 100%;
    background-color: black;


    h4{
      margin-top: 2vh;
      margin-left: 1vw;
    }
    section{
      display: flex;
      margin:auto ;
      justify-content: space-between;

      div{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        margin-bottom: 1vh;

        h5{
          text-decoration: overline;
          font-size: 1.2rem;
        }

        a{
          // PARA ELIMINAR EL ESTILO DE BOOTSTRAP EN ELIMINATORIAS
          color: $color-letra !important;
          text-decoration: none;
          font-size: 1rem;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      .sitios{
        align-self: flex-start;
        margin-left: 1vw;
      }
      .menuFooter{
        align-self: center;
      }
      .masInfo{
        align-self: flex-start;
        margin-right: 1vw;
      }
    }
   }
  
    /*------------------------ -----------------MEDIA QUERIES NAV------------------------------------------ */
  @media (max-width: 1000px) {
    /* -----------------------------HEADER----------------------------- */
    .menu__seccion {
      font-size: 2.7vh;
      margin: 2vw; }
    .menu__seccion--resaltado {
      font-size: 2.7vh;
      margin: 2vw; }
    h2 {
      font-size: 5vh; }
    h3 {
      font-size: 4vh; }
    }
      /* ---------------------------------------------- MEDIA QUERIES NAV CHICOS----------------------------------------- */
  @media (max-width: 520px) {
    /* ------------------HEADER------------------------ */
    .encabezadoGeneral {
      width: 100%; }
    nav {
      justify-content: center;
      flex-direction: column; }
    .img-header {
      width: 60px;
      margin-left: 0px;
      margin-top: 0px; }
    .menu {
      display: flex;
      flex-direction: row; }
    .menu__seccion {
      font-size: 3vw;
      padding: 0px 3px 0px 3px;
      margin: 3px; }
    .menu__seccion--resaltado {
      font-size: 3vw;
      margin: 3px;
      padding: 0px 10px 0px 10px; }
    }